.button {
    border: none;
    padding: 1.2rem 2.4rem;
    border: 2px solid $color-button;
    background-color: transparent;
    color: $color-white;
    font-weight: 300;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.button.button-log {
    min-width: 0;
    padding: 1.2rem 2.4rem;
    font-weight: 300;
    white-space: nowrap;
    margin-right: 1.6rem;
}

.button-demo {
    background-color: $color-link-hover;
    font-weight: 300;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.button-blog {
    border: 1px solid $color-button;
    border-radius: 4px;
    padding: 1.2rem 2.4rem;
    background-color: $color-button;
    font-weight: 300;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}