body {
    background-color: $color-primary;

    header {
        margin: 0;
        font-family: $font-family-inter;
        background-image: url(../images/hero-background.png);
        background-position: 100% 100%;
        background-size: 60%;
        background-repeat: no-repeat;
        background-color: $color-primary;

        .container {
            position: relative;

            .custom-nav {
                padding-top: 16px;
                padding-bottom: 16px;
                @include flexbox(flex, space-between, center);

                nav {

                    .container-fluid {
                        @include flexbox();

                        ul {
                            @include flexbox(flex, space-around, center);

                            li {
                                position: relative;

                                a {
                                    white-space: nowrap;
                                    padding: 1rem 1.5rem;
                                    font-size: 1.6rem;

                                }

                                .drop-menu {
                                    @include flexbox(flex, space-around, flex-start);
                                    flex-direction: column;
                                    overflow: auto;
                                    max-height: 85vh;
                                    margin-top: 8px;
                                    padding: 0 16px;
                                    border: 1px solid #dedcee;
                                    border-radius: 8px;
                                    padding-top: 24px;
                                    padding-bottom: 24px;
                                    background-color: $color-white;
                                    text-align: left;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    position: absolute;
                                    top: 180%;
                                    padding: 10px;
                                    display: none;

                                    .nav-item {

                                        a {
                                            padding: 10px 20px;
                                            display: block;
                                            color: #222;
                                            font-size: 1.6rem;

                                            &:hover {
                                                color: $color-link-hover;
                                            }

                                        }

                                        ul {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-start;


                                            .li {

                                                a {}
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .icon-menu {
                    display: none;
                }
            }

            .custom-responsive-nav {
                position: absolute;
                z-index: 999999;
                width: 100%;

                nav {

                    .container-fluid {
                        list-style: none;
                        padding: 0;
                        background-color: $color-white;

                        ul {

                            li {

                                a {
                                    font-size: 2rem;
                                    list-style: none;
                                    padding: 0;
                                    background-color: $color-white;
                                }

                                // .drop-menu {
                                //     @include flexbox(flex, space-around, flex-start);
                                //     flex-direction: column;
                                //     overflow: auto;
                                //     max-height: 85vh;
                                //     margin-top: 8px;
                                //     padding: 0 16px;
                                //     border: 1px solid #dedcee;
                                //     border-radius: 8px;
                                //     padding-top: 24px;
                                //     padding-bottom: 24px;
                                //     background-color: $color-white;
                                //     text-align: left;
                                //     flex-direction: column;
                                //     align-items: flex-start;
                                //     position: absolute;
                                //     top: 180%;
                                //     padding: 10px;
                                //     display: none;

                                //     .nav-item {

                                //         a {
                                //             padding: 10px 20px;
                                //             display: block;
                                //             color: #222;
                                //             font-size: 1.6rem;

                                //             &:hover {
                                //                 color: $color-link-hover;
                                //             }

                                //         }

                                //         ul {
                                //             display: flex;
                                //             flex-direction: column;
                                //             align-items: flex-start;


                                //             .li {

                                //                 a {}
                                //             }
                                //         }
                                //     }
                                // }
                            }
                        }

                    }
                }
            }
        }



        .hero {
            padding: 120px 16px 120px 48px;

            .col-6 {
                h1 {
                    font-size: 4.5rem;
                    line-height: 140%;
                    margin-bottom: 2.4rem;

                }

                .subheading-hero-homepage {
                    font-family: $font-family-base;
                    color: $color-white;
                    font-size: 1.6rem;
                    line-height: 150%;
                    font-weight: 300;
                    margin-bottom: 2.4rem;
                }

                .container-trust-hero {
                    margin-top: 12rem;

                    .paragraph {
                        color: $color-gray;
                        font-size: 1.4rem;
                        font-style: italic;
                    }

                    .container-trust-logos {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 1.6rem;
                        opacity: 0.48;

                        img {
                            height: 4rem;
                            margin-right: 2.4rem;
                            flex: 0 auto;
                        }
                    }
                }
            }

            .col-6 {

                .image {
                    margin-top: 40px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .section-global {
        background-color: $color-primary-hover;
        padding: 14rem 8rem;

        .container.header {
            .col-6 {
                .left {
                    max-width: none;
                    padding-right: 0;
                    font-size: 3.3rem;
                    font-family: "Inter", sans-serif;
                    font-size: 4rem;
                    line-height: 140%;
                    font-weight: 600;
                }

                .right {
                    color: $color-white;
                    font-family: "Inter", sans-serif;
                    font-size: 1.8rem;
                    font-weight: 300;
                }
            }
        }

        .container.footer {
            max-width: 1220rem;
            padding-top: 10rem;
            padding-bottom: 5rem;
            border-radius: 1.6rem;

            .row {
                max-width: 1220rem;
                padding-top: 4.8rem;
                padding-bottom: 4rem;
                border-radius: 1.6rem;
                background-color: #5b35d5;
                text-align: center;

                .col-6 {
                    font-family: $font-family-base;

                    .heading {
                        font-size: 4rem;
                        line-height: 130%;
                        font-weight: 600;
                        text-align: left;
                        padding: 0 2.4rem;
                        margin-top: 5rem;
                    }

                    .paragraph {
                        text-align: left;
                        padding: 0 2.4rem;
                        font-size: 1.8rem;
                        font-weight: 300;
                        margin-top: 0;
                        margin-bottom: 2.4rem;
                        line-height: 150%;
                    }
                }

                .col-6 img {
                    width: 80%;
                    margin: 0 auto;
                }

            }
        }
    }

    .section-feature {
        padding: 14rem 8rem;

        .container.product {
            padding-bottom: 12rem;

            .row {
                border-radius: 1.6rem;
                text-align: center;
                background-image: url(../images/paraldax.png), linear-gradient(100deg, #1b1734, #0f0d1e);
                background-position: 100% 100%, 0 0;
                background-size: auto 70%, auto;
                background-attachment: fixed, scroll;
                background-repeat: no-repeat;

                .col-6 {
                    padding: 10rem 4.8rem 10rem 8rem;

                    .content-feature {
                        text-align: left;

                        .base-heading {
                            font-family: $font-family-secondary;
                            margin-top: 0;
                            font-family: "Rajdhani", sans-serif;
                            font-size: 1.8rem;
                            line-height: 1.5;
                            font-weight: 500;
                            text-align: left;
                            letter-spacing: 0.15rem;
                        }

                        .base-heading.green {
                            color: $color-heading-green;
                        }

                        .base-heading.blue {
                            color: $color-heading-blue;
                        }

                        .base-heading.orange {
                            color: $color-heading-orange;
                        }

                        .heading {
                            font-family: $font-family-base;
                            padding: 2rem 0;
                            max-width: none;
                            font-size: 3.3rem;
                            font-size: 4rem;
                            line-height: 140%;
                            font-weight: 600;
                        }

                        .paragraph {
                            padding: 1rem 0;
                            color: $color-gray;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 150%;
                        }

                        .btn-product {
                            padding-top: 3rem;
                        }

                    }
                }

                .col-6 img {
                    width: 100%;
                    margin: 30% auto;
                    border: 1px transparent;
                    border-radius: 8px;
                }

            }
        }

    }

    .section-card {
        background-color: $color-primary-hover;
        padding: 14rem 8rem;

        .heading {
            text-align: center;
            position: static;
            min-height: auto;
            min-width: auto;
            margin-top: 0;
            margin-bottom: 2.4rem;
            font-family: Inter, sans-serif;
            color: $color-white;
            font-size: 4.8rem;
            line-height: 120%;
            font-weight: 600;
        }

        .container {
            margin: 5.6rem 0;

            .row {
                .col-4 {
                    .card-item {
                        padding-right: 6.4rem;

                        .heading {
                            text-align: left;
                            margin-top: 2.4rem;
                            margin-bottom: 0;
                            font-family: Inter, sans-serif;
                            color: $color-white;
                            font-size: 2rem;
                            line-height: 150%;
                            font-weight: 500;
                        }

                        .paragraph {
                            text-align: left;
                            max-width: 80%;
                            min-height: auto;
                            margin: 0;
                            min-width: auto;
                            margin-top: 1rem;
                            color: $color-gray;
                            font-size: 2rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .btn-card {
            text-align: center;
            padding: 5rem 0;
        }
    }

    .section-testimonials {
        background-color: #5b35d5;

        .heading {
            font-size: 3.5rem;
            margin-bottom: 2.4rem;
        }

        .container {
            .row {
                .col-md-7 {
                    margin: 0 auto;

                    .col-4 {
                        .tab-testimonial {
                            margin-top: 4.8rem;
                            display: flex;
                            padding: 2.4rem 0.8rem;
                            align-items: center;
                            border-style: none none solid;
                            border-width: 0 0 0.2rem;
                            border-color: #5b35d5 #5b35d5 #ff9a83;
                            background-color: transparent;
                            opacity: 1;

                            img {
                                height: 6rem;
                                margin-right: 1.4rem;
                                border-radius: 0;
                            }

                            .text-box-header {
                                font-size: 1.8rem;
                                font-weight: 500;
                            }

                            .text-box-footer {
                                font-size: 1.6rem;
                            }


                        }
                    }
                }
            }
        }

        .container.testimonials {
            padding-bottom: 12rem;

            .row {
                border-radius: 1.6rem;
                text-align: center;
                background-color: $color-white;

                .content-testimonials {
                    text-align: left;
                    padding: 80px 120px 64px;

                    .text-testimonials-header {
                        margin-bottom: 16px;
                        color: #0f0d1e;
                        font-size: 24px;
                        line-height: 170%;
                        font-weight: 300;
                        text-align: center;
                    }

                    .text-testimonials-footer {
                        margin-right: auto;
                        margin-left: auto;
                        color: #5b35d5;
                        font-size: 18px;
                        text-align: center;
                    }

                }
            }
        }
    }

    .section-action {
        .action-info {
            text-align: center;

            .heading {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 5rem;
                color: $color-white;
                font-size: 35px;
                font-weight: 600;
            }
        }
    }

    .section-blog {
        background-color: #1b1734;

        .heading {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5rem;
            color: $color-white;
            font-size: 3.5rem;
            font-weight: 600;
        }

        .container {
            .col-4 {
                padding-right: 2.4rem;
                padding-left: 2.4rem;
                position: relative;
                float: left;
                min-height: 1px;

                .card-blog-post {
                    position: relative;
                    overflow: hidden;
                    background-color: #0f0d1e;
                    border-radius: 1.6rem;
                    justify-content: flex-start;
                    border-bottom: 1px transparent;

                    .card-blog-post-image {
                        overflow: hidden;
                        height: 24rem;
                        background-image: none;
                        position: relative;
                        z-index: 1;

                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            min-height: 100%;
                            border-radius: 0;
                            -o-object-fit: cover;
                            object-fit: cover;
                            vertical-align: middle;
                            display: inline-block;
                            max-width: 100%;
                            padding-top: 0;
                            padding-bottom: 0;
                            border: 1px transparent;
                        }

                        .button-demo {
                            position: absolute;
                            left: 16px;
                            top: auto;
                            right: auto;
                            bottom: 16px;
                            display: block;
                            padding: 4px 8px;
                            clear: none;
                        }
                    }

                    .card-blog-post-content {
                        h2 {
                            margin-top: 32px;
                            padding-right: 32px;
                            padding-left: 32px;
                            font-size: 20px;
                            line-height: 150%;
                            font-weight: 500;
                            text-align: left;
                            margin-bottom: 1.6rem;
                        }

                        p {
                            padding-right: 5rem;
                            padding-left: 3.2rem;
                            font-size: 16px;
                            color: $color-gray;
                            margin-bottom: 2.4rem;
                            line-height: 150%;
                            font-weight: 300;
                        }

                        .div-date {
                            padding-right: 32px;
                            padding-left: 32px;
                            padding-bottom: 48px;
                            color: $color-gray;
                            display: flex;
                            align-items: center;

                            img {
                                padding-right: 1rem;
                            }

                            .text-block {
                                font-size: 1.6rem;
                            }
                        }

                        .div-date.third {
                            padding-bottom: 10rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 80px 48px;

        .container {
            margin-bottom: 4rem;

            .row {
                .col-2 {
                    img {
                        width: 40%;
                    }
                }

                .col-4 {
                    h2 {
                        color: $color-gray;
                        margin-top: 0;
                        margin-bottom: 1.6rem;
                        font-family: $font-family-rajdhani;
                        font-size: 1.8rem;
                        line-height: 1.5;
                        font-weight: 500;
                        text-align: left;
                        letter-spacing: 0.2rem;
                        text-transform: uppercase;
                    }

                    ul {
                        font-size: 16px;
                        line-height: 150%;
                        font-weight: 300;
                        color: $color-white;

                        li a {
                            display: inline-block;
                            margin-bottom: 16px;
                            color: #fff;
                            font-size: 16px;
                            line-height: 150%;
                            font-weight: 300;
                            text-decoration: none;
                            white-space: nowrap;
                            -o-object-fit: fill;
                            object-fit: fill;
                        }
                    }
                }

                .col-2 {
                    h2 {
                        color: $color-gray;
                        margin-top: 0;
                        margin-bottom: 1.6rem;
                        font-family: $font-family-rajdhani;
                        font-size: 1.8rem;
                        line-height: 1.5;
                        font-weight: 500;
                        text-align: left;
                        letter-spacing: 0.2rem;
                        text-transform: uppercase;
                    }

                    .paragraph {
                        max-width: 80%;
                        min-height: auto;
                        min-width: auto;
                        margin-top: 10px;
                        color: $color-gray;
                        font-size: 1.6rem;
                        margin-bottom: 1.5rem;
                        text-align: left;
                    }

                    form {
                        input {
                            border-radius: 0.4rem;
                            color: $color-primary-hover;
                            font-size: 17px;
                            font-weight: 400;
                            display: block;
                            width: 100%;
                            height: 38px;
                            padding: 8px 12px;
                            margin-bottom: 2rem;
                            font-size: 14px;
                            line-height: 1.42857143;
                            background-color: $color-white;
                            border: 1px solid #ccc;
                        }
                    }

                }
            }
        }

        .container {
            .paragraph {
                color: $color-gray;
                text-align: center;
                font-size: 1.6rem;
                margin-top: 2rem;
            }
        }

        .social-links {
            margin-top: 1.6rem;
        }
    }
}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {
    body {
        header {
            .container {
                .custom-nav {
                    padding-top: 16px;
                    padding-bottom: 16px;

                    nav {
                        display: none;

                        .container-fluid {
                            @include flexbox();

                            .navbar {
                                @include flexbox(flex, space-around, center);

                                li {
                                    position: relative;

                                    a {
                                        white-space: nowrap;
                                        padding: 1rem 1.5rem;
                                        font-size: 1.6rem;

                                    }

                                    .drop-menu {
                                        @include flexbox(flex, space-around, flex-start);
                                        flex-direction: column;
                                        overflow: auto;
                                        max-height: 85vh;
                                        margin-top: 8px;
                                        padding: 0 16px;
                                        border: 1px solid #dedcee;
                                        border-radius: 8px;
                                        padding-top: 24px;
                                        padding-bottom: 24px;
                                        background-color: $color-white;
                                        text-align: left;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        position: absolute;
                                        top: 180%;
                                        padding: 10px;
                                        display: none;

                                        .nav-item {

                                            a {
                                                padding: 10px 20px;
                                                display: block;
                                                color: #222;
                                                font-size: 1.6rem;

                                                &:hover {
                                                    color: $color-link-hover;
                                                }

                                            }

                                            ul {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;


                                                .li {

                                                    a {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .icon-menu {
                        display: block;
                        font-size: 2.2rem;
                    }
                }
            }

        }
    }

}

@media only screen and (max-width:768) {}

@media only screen and (max-width:576px) {}